@{ Layout = "~/Views/Shared/_layout.cshtml"; }

@model System.Collections.Generic.IList<IronBank.ViewModels.ServiceDetailsViewModel>

<div class="row">
    <span class="pull-left">
        <a href="/services/configure" class="btn btn-primary">Configure New Service</a>
    </span>
    @foreach (var cfgService in Model) {
    <div class="col-md-4">
        <div class="service-container">
            <span class="service-name">@cfgService.Provider</span>
            <span class="service-description">@cfgService.Contract</span>
            <span class="service-description text-center">@cfgService.PaymentAmount</span>
        </div>
    </div>
    }
    @*<div class="col-md-8 col-md-offset-2">
        <table class="table table-hover">
            <tr>
                <th>Service Name</th>
                <th>Contract Reference</th>
                <th>Pending Balance</th>
            </tr>
            @foreach (var cfgService in Model) {
            <tr>
                <td>@cfgService.Service.Name</td>
                <td>@cfgService.ContractReference</td>
                @if (cfgService.PendingBalance == 0)
                {
                <td>--</td>
                } else {
                <td><i class="fa fa-money"></i> @cfgService.PendingBalance</td>
                }
            </tr>
            }
        </table>
        
    </div>*@
</div>