<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
</head>
    <body>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery-1.9.1")
        @Scripts.Render("~/bundles/bootstrap")
    </body>
</html>